body {
  background-color: lightgray;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1 {
  color: black;
  text-align: center;
  margin-top: 20px;
}

h2 {
  color: brown;
  text-align: center;
}

h2 a:hover {
  color: blue;
  font-style: italic;
  text-decoration: underline;
}

div#projects {
  display: flex;
  justify-content: center;
  gap: 20px;
}

div#project {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

footer {
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

footer a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  color: blue;
  text-decoration: underline;
}
