body {
  background-color: lightgray;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1 {
  color: black;
  text-align: center;
  margin-top: 20px;
}

h2 {
  color: brown;
  text-align: center;
}

h2 a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease;
}

h2 a:hover::after {
  width: 100%;
}

div#projects {
  display: flex;
  justify-content: center;
  gap: 20px;
}

div#project {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

footer {
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

footer a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease;
}

footer a:hover::after {
  width: 100%;
}
