html {
  font-family: "Audiowide", cursive;
}

body {
  background-color: #0b2d72;
}

h1 {
  color: #0992c2;
  text-align: center;
  margin-top: 20px;
  text-decoration: underline;
}

h2 {
  color: #0ac4e0;
  text-align: center;
}

h2 a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #0ac4e0;
  transition: width 0.3s ease;
}

h2 a:hover::after {
  width: 100%;
}

h3 {
  color: #0ac4e0;
  text-align: center;
  margin-top: 10px;
}

div#projects {
  display: flex;
  justify-content: center;
  gap: 20px;
}

div#project {
  background-color: #f6e7bc;
  padding: 20px;
  border-radius: 10px;
}

footer {
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

footer a {
  color: #0ac4e0;
  text-decoration: none;
  position: relative;
}

footer a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #0ac4e0;
  transition: width 0.3s ease;
}

footer a:hover::after {
  width: 100%;
}
